@model ZaculeuValley.IxchelAdmin.Models.FacilityType

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles</h1>

<div>
    <h4>Tipos de Instalaciones</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Código de Institución
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FacilityTypeCode)
        </dd>
        <dt class = "col-sm-2">
            Nombre Institución
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FacilityTypeName)
        </dd>
        <dt class = "col-sm-2">
            Habilitado
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Enabled)
        </dd>
        <dt class = "col-sm-2">
            Eliminado
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Deleted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdinstitutionNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdinstitutionNavigation.Idinstitution)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" class="btn btn-secondary" asp-route-id="@Model?.IdfacilityType">Edit</a> |
    <a asp-action="Index">Regresar a Índice</a>
</div>
