@*@model IEnumerable<ZaculeuValley.IxchelAdmin.Models.FacilityType>*@
@model PaginatedList<ZaculeuValley.IxchelAdmin.Models.FacilityType>

@{
    ViewData["Title"] = "Index";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/Home"> @ViewBag.InstitutionName</a></li>
        <li class="breadcrumb-item active" aria-current="page">Tipos de Instalaciones</li>
    </ol>
</nav>

<h1>Tipo de Instalaciones</h1>

<p>
    <a asp-action="Create">Crear Nuevo</a>
</p>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Busca por nombre: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Buscar" /> |
            <a asp-action="Index">Regresar a lista completa</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th class="text-center">
                @if (ViewData["CurrentSort"] != null && ViewData["CurrentSort"].ToString() == "id_desc")
                {
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["IdSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">ID ↓</a>
                }
                else
                {
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["IdSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">ID ↑</a>
                }
            </th>
            <th class="text-center">
                Código Tipo
                @*@Html.DisplayNameFor(model => model.FacilityTypeCode)*@
            </th>
            <th class="text-center">
                @if (ViewData["CurrentSort"] != null && ViewData["CurrentSort"].ToString() == "name_desc")
                {
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Nombre Tipo ↓</a>
                }
                else
                {
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Nombre Tipo ↑</a>
                }
                @*@Html.DisplayNameFor(model => model.FacilityTypeName)*@
            </th>
            <th class="text-center">
                @if (ViewData["CurrentSort"] != null && ViewData["CurrentSort"].ToString() == "id_desc")
                {
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["EnabledSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Hábilitado ↓</a>
                }
                else
                {
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["EnabledSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Hábilitado ↑</a>
                }
                @*@Html.DisplayNameFor(model => model.Enabled)*@
            </th>
            <th class="text-center"></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.IdfacilityType)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.FacilityTypeCode)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.FacilityTypeName)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.Enabled)
            </td>
            
            @*<td class="text-center">
                @Html.DisplayFor(modelItem => item.IdinstitutionNavigation.Idinstitution)
            </td>*@
            <td class="text-center">
                <a asp-action="Delete" asp-route-id="@item.IdfacilityType">Eliminar</a> |
                <a asp-action="Details" asp-route-id="@item.IdfacilityType">Details</a> @*|
                <a asp-action="Delete" asp-route-id="@item.IdfacilityType">Delete</a>*@
            </td>
        </tr>
}
    </tbody>
</table>
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    Anterior
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
    Siguiente
</a>