@model ZaculeuValley.IxchelAdmin.Models.PermissionRol

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles</h1>

<div>
    <h4>Permisos de Roles</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Leer
            @*@Html.DisplayNameFor(model => model.Read)*@
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Read)
        </dd>
        <dt class = "col-sm-2">
            Agregar
            @*@Html.DisplayNameFor(model => model.Add)*@
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Add)
        </dd>
        <dt class = "col-sm-2">
            Escribir
            @*@Html.DisplayNameFor(model => model.Write)*@
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Write)
        </dd>
        <dt class = "col-sm-2">
            Borrar
            @*@Html.DisplayNameFor(model => model.Delete)*@
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Delete)
        </dd>
        <dt class = "col-sm-2">
            Imprimir
            @*@Html.DisplayNameFor(model => model.Print)*@
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Print)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdpermissionNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdpermissionNavigation.Idpermission)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdrolNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdrolNavigation.Idrol)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdpermissionRol">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
