@*@model IEnumerable<ZaculeuValley.IxchelAdmin.Models.InstitutionCountry>*@

@model PaginatedList<ZaculeuValley.IxchelAdmin.Models.InstitutionCountry>

@{
    ViewData["Title"] = "Index";
}

<h1>Países</h1>

<p>
    <a asp-action="Create">Crear Nuevo</a>
</p>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Busca por nombre: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Buscar" /> |
            <a asp-action="Index">Regresar a lista completa</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @if (ViewData["CurrentSort"] != null && ViewData["CurrentSort"].ToString() == "id_desc")
                {
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["IdSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">ID ↓</a>
                }
                else
                {
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["IdSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">ID ↑</a>
                }
            </th>
            <th>
                Código País
                @*@Html.DisplayNameFor(model => model.CountryCode)*@
            </th>
            <th>
                @if (ViewData["CurrentSort"] != null && ViewData["CurrentSort"].ToString() == "name_desc")
                {
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Nombre País ↓</a>
                }
                else
                {
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Nombre País ↑</a>
                }
                @*@Html.DisplayNameFor(model => model.CountryName)*@
            </th>
            <th>
                Prefijo Telefónico
                @*@Html.DisplayNameFor(model => model.CountryPhoneCode)*@
            </th>
            <th>
                Dominio
                @*@Html.DisplayNameFor(model => model.CountryDomainName)*@
            </th>
            <th>
                Hábilitado
                @*@Html.DisplayNameFor(model => model.Enabled)*@
            </th>
            <th>
                Borrado
                @*@Html.DisplayNameFor(model => model.Deleted)*@
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdinstitutionCountry)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CountryCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CountryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CountryPhoneCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CountryDomainName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Enabled)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Deleted)
            </td>
            
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdinstitutionCountry">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdinstitutionCountry">Detalles</a> @*|
                <a asp-action="Delete" asp-route-id="@item.IdinstitutionCountry">Borrar</a>*@
            </td>
        </tr>
}
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    Anterior
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
    Siguiente
</a>
