@model ZaculeuValley.IxchelAdmin.Models.InstitutionDistrict

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles</h1>

<div>
    <h4>Distrito</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Código Área
            @*@Html.DisplayNameFor(model => model.AreaCode)*@
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AreaCode)
        </dd>
        <dt class = "col-sm-2">
            Código Distrito
            @*@Html.DisplayNameFor(model => model.DistrictCode)*@
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DistrictCode)
        </dd>
        <dt class = "col-sm-2">
            Nombre Distrito
            @*@Html.DisplayNameFor(model => model.DistrictName)*@
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DistrictName)
        </dd>
        <dt class = "col-sm-2">
            Hábilitado
            @*@Html.DisplayNameFor(model => model.Enabled)*@
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Enabled)
        </dd>
        <dt class = "col-sm-2">
            Eliminado
            @*@Html.DisplayNameFor(model => model.Deleted)*@
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Deleted)
        </dd>
        @*<dt class = "col-sm-2">
            
            @Html.DisplayNameFor(model => model.IdinstitutionAreaNavigation)
        </dt>
        <dd class = "col-sm-10">
            
            @Html.DisplayFor(model => model.IdinstitutionAreaNavigation.IdinstitutionArea)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdinstitutionNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdinstitutionNavigation.Idinstitution)
        </dd>*@
    </dl>
</div>
<div>
    <a asp-action="Edit" class="btn btn-secondary"  asp-route-id="@Model?.IdinstitutionDistrict">Editar</a> |
    <a asp-action="Index">Regresar a Índice</a>
</div>
