@*@model IEnumerable<ZaculeuValley.IxchelAdmin.Models.Facility>*@

@model PaginatedList<ZaculeuValley.IxchelAdmin.Models.Facility>

@{
    ViewData["Title"] = "Index";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/Home"> @ViewBag.InstitutionName</a></li>
        <li class="breadcrumb-item active" aria-current="page">Instalaciones</li>
    </ol>
</nav>



<h1>Instalaciones</h1>

<p>
    <a asp-action="Create">Crear Nuevo</a>
</p>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Busca por nombre: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Buscar" /> |
            <a asp-action="Index">Regresar a lista completa</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
@*            <th class="text-center">
                @if (ViewData["CurrentSort"] != null && ViewData["CurrentSort"].ToString() == "id_desc")
                {
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["IdSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">ID ↓</a>
                }
                else
                {
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["IdSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">ID ↑</a>
                }
            </th>
            <th class="text-center">
                @if (ViewData["CurrentSort"] != null && ViewData["CurrentSort"].ToString() == "idinstitution_desc")
                {
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["IdInstitutionParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">ID Institución ↓</a>
                }
                else
                {
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["IdInstitutionParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">ID Institución ↑</a>
                }
            </th>*@
            <th class="text-center">
                @if (ViewData["CurrentSort"] != null && ViewData["CurrentSort"]?.ToString() == "facilitycode_desc")
                {
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["FacilityCodeParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Código Instalación ↓</a>
                }
                else
                {
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["FacilityCodeParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Código Instalación ↑</a>
                }
            </th>
            <th class="text-center">
                @if (ViewData["CurrentSort"] != null && ViewData["CurrentSort"]?.ToString() == "idfacilitytype_desc")
                {
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["IdfacilityTypeParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Tipo Instalación ↓</a>
                }
                else
                {
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["IdfacilityTypeParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Tipo Instalación ↑</a>
                }
            </th>
            @*<th class="text-center">
                País
            </th>*@
            <th class="text-center">
                @if (ViewData["CurrentSort"] != null && ViewData["CurrentSort"]?.ToString() == "areacode_desc")
                {
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["AreaCodeParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Código Área ↓</a>
                }
                else
                {
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["AreaCodeParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Código Área ↑</a>
                }
            </th>
            
            <th class="text-center">
                @if (ViewData["CurrentSort"] != null && ViewData["CurrentSort"]?.ToString() == "districtcode_desc")

                {
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["DistrictCodeParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Distrito ↓</a>
                }
                else
                {
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["DistrictCodeParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Distrito ↑</a>
                }
            </th>
            <th class="text-center">
                @if (ViewData["CurrentSort"] != null && ViewData["CurrentSort"]?.ToString() == "name_desc")
                {
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Instalación ↓</a>
                }
                else
                {
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Instalación ↑</a>
                }
            </th>
            <th class="text-center">
                @if (ViewData["CurrentSort"] != null && ViewData["CurrentSort"]?.ToString() == "id_desc")
                {
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["EnabledSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Habilitado ↓</a>
                }
                else
                {
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["EnabledSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Habilitado ↑</a>
                }
            </th>
            <th class="text-center"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
@*                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.Idfacility)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.IdinstitutionNavigation.InstitutionName)
                </td>*@
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.FacilityCode)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.IdfacilityTypeNavigation.FacilityTypeName)
                </td>
                @*<td class="text-center">
                    @Html.DisplayFor(modelItem => item.IddistrictNavigation.IdinstitutionAreaNavigation.IdinstitutionCountryNavigation.CountryName)
                </td>*@
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.IddistrictNavigation.IdinstitutionAreaNavigation.AreaName)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.IddistrictNavigation.DistrictName)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.FacilityName)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.Enabled)
                </td>        
                <td class="text-center">
                    <a asp-action="Delete" asp-route-id="@item.Idfacility">Eliminar</a> |
                    <a asp-action="Details" asp-route-id="@item.Idfacility">Detalles</a>@* |
                <a asp-action="Delete" asp-route-id="@item.Idfacility">Borrar</a>*@
                </td>
            </tr>
        }
    </tbody>
</table>


@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default mb-5 @prevDisabled">
    Anterior
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default mb-5 @nextDisabled">
    Siguiente
</a>
