@*@model IEnumerable<ZaculeuValley.IxchelAdmin.Models.Institution>*@


@model PaginatedList<ZaculeuValley.IxchelAdmin.Models.Institution>
@*@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />*@

@using Microsoft.AspNetCore.Http;

@{
    ViewData["Title"] = "Index";
}

    <h1 class="text-center mt-5 mb-3">Instituciones</h1>

@{
    var request = Context.Request;
    var searchString = request.Query["SearchString"].ToString();


    var showTable = !string.IsNullOrEmpty(searchString?.Trim()) || !string.IsNullOrEmpty(ViewData["CurrentFilter"]?.ToString());
    var showAllData = !string.IsNullOrEmpty(searchString?.Trim()) || request.Method == "GET";

    if (request.Method == "GET" && string.IsNullOrEmpty(searchString?.Trim()))
    {
        showTable = false;
    }
    //var showTable = !string.IsNullOrEmpty(searchString?.Trim());

}

@if (ViewBag.DisableSidebar)
{
    <style>
        /* Additional styles to hide or disable the sidebar */
        #sidebar {
            display: none;
        }
    </style>
}

<form asp-action="Index" method="get">
    <div class="containerInstitutionSearch no-color mt-2">
        <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />

        @*boton para el metodo de busqueda*@
        <button class="btn my-2 my-sm-0" type="submit">
            <img style="width: 30px; height: 30px;" src="./lib/isearch.png" alt="Search Icon">&nbsp; |
        </button>

        @*BOTON CREAR NUEVO*@
        <button class="btn btn-outline-success my-2 my-sm-0" asp-action="Create">Crear Nuevo</button>

        @*<a class="btn my-2 my-sm-0" href="?SearchString=&sortOrder=@(ViewData["CurrentSort"] ?? "")">
            Mostrar Todo
        </a>*@
    </div>
</form>





@*@using (Html.BeginForm())
{
    <p>
       Busca por nombre: @Html.TextBox("SearchString")  
        <input type="submit" value="Buscar" /></p>
}*@




@if (showTable || showAllData)
{
    <table class="table mt-5">
        <thead>
            <tr>
                <th>
                    @if (ViewData["CurrentSort"] != null && ViewData["CurrentSort"].ToString() == "institutioncode_desc")
                    {
                        <a asp-action="Index" asp-route-sortOrder="@ViewData["InstitutionCodeParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">ID Institución ↓</a>
                    }
                    else
                    {
                        <a asp-action="Index" asp-route-sortOrder="@ViewData["InstitutionCodeParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">ID Institución ↑</a>
                    }

                </th>
                <th>
                    @*@Html.ActionLink("Nombre Institución", "Index", new { sortOrder = ViewBag.NameSortParm })*@
                    @*<a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Nombre Institución</a>*@

                    @if (ViewData["CurrentSort"] != null && ViewData["CurrentSort"].ToString() == "name_desc")
                    {
                        <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Nombre Institución ↓</a>
                    }
                    else
                    {
                        <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Nombre Institución ↑</a>
                    }
                </th>
                <th>
                    @if (ViewData["CurrentSort"] != null && ViewData["CurrentSort"].ToString() == "id_desc")
                    {
                        <a asp-action="Index" asp-route-sortOrder="@ViewData["EnabledSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Hábilitado ↓</a>
                    }
                    else
                    {
                        <a asp-action="Index" asp-route-sortOrder="@ViewData["EnabledSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Hábilitado ↑</a>
                    }

                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Idinstitution)
                    </td>
                    <td>
                        @*<a asp-action="Selection" asp-route-id="@item.Idinstitution"> @Html.DisplayFor(modelItem => item.InstitutionName)</a>*@
                        <a href="@Url.Action("Selection", new { id = item.Idinstitution })">@Html.DisplayFor(modelItem => item.InstitutionName)</a>

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Enabled)
                    </td>
                    <td>

                        <a asp-action="Delete" asp-route-id="@item.Idinstitution">Eliminar</a> |
                        <a asp-action="Details" asp-route-id="@item.Idinstitution">Detalles</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}


@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}
<div class="containerInstitutionSearch">
    <a asp-action="Index"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-pageNumber="@(Model.PageIndex - 1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="btn btn-default @prevDisabled">
        Anterior
    </a>
    <a asp-action="Index"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-pageNumber="@(Model.PageIndex + 1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="btn btn-default @nextDisabled">
        Siguiente
    </a>
</div>
@*<div class="float-none mb-lg-5 pb-5 mt-3">
    <a asp-action="Index" asp-route-sortOrder="@ViewData["CurrentSort"]" asp-route-pageNumber="@(Model.PageIndex - 1)" asp-route-currentFilter="@ViewData["CurrentFilter"]" class="btn btn-default @prevDisabled d-inline">Anterior</a>
    <p class="d-inline">[ @Model.PageIndex / <a asp-action="Index" asp-route-sortOrder="@ViewData["CurrentSort"]" asp-route-pageNumber="@(Model.TotalPages)" asp-route-currentFilter="@ViewData["CurrentFilter"]">@Model.TotalPages </a>]</p>
    <a asp-action="Index" asp-route-sortOrder="@ViewData["CurrentSort"]" asp-route-pageNumber="@(Model.PageIndex + 1)" asp-route-currentFilter="@ViewData["CurrentFilter"]" class="btn btn-default mb-5 @nextDisabled d-inline">Siguiente</a>
</div>*@


